In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from dagster import job, op
import pandas as pd
from pymongo import MongoClient

In [ ]:
data = pd.read_csv("C:/Users/varun/Desktop/DAP/books_scraped.csv")
data.head()

In [ ]:
data = data[(data['Book_category'] != 'Default')]
data = data[(data['Book_category'] != 'Add a comment')]

In [ ]:
top_categories = data['Book_category'].value_counts().head(10)

In [ ]:
sns.set(style="whitegrid")

plt.figure(figsize=(12, 8))
ax = sns.barplot(x=top_categories.index, y=top_categories.values, color='skyblue')

for p in ax.patches:
    ax.annotate(int(p.get_height()), (p.get_x() + p.get_width() / 2., p.get_height()),
                ha='center', va='center', xytext=(0, 10), textcoords='offset points')

plt.title('Most rated categories')
plt.xlabel('Category')
plt.ylabel('Numberof 5* ratings')

plt.xticks(rotation=45, ha='right')

plt.show()

In [ ]:
category_counts = data.groupby('Book_category')['Quantity'].count().reset_index()

category_counts.columns = ['Book_Category', 'Quantity_Title_Book_Category_Count']

top_categories = category_counts.nlargest(14, 'Quantity_Title_Book_Category_Count')

other_category = pd.DataFrame({'Book_Category': ['Other'],
                               'Quantity_Title_Book_Category_Count': [category_counts['Quantity_Title_Book_Category_Count'].sum() - top_categories['Quantity_Title_Book_Category_Count'].sum()]})

combined_categories = pd.concat([top_categories, other_category])

sns.set(style="whitegrid")
plt.figure(figsize=(10, 8))

colors = sns.color_palette("Set3", n_colors=len(combined_categories))

plt.pie(combined_categories['Quantity_Title_Book_Category_Count'], labels=None, autopct='%1.1f%%', startangle=90, pctdistance=0.85, labeldistance=1.05, colors=colors)

plt.title('Number of books by category in stock')

plt.legend(labels=combined_categories['Book_Category'], loc='center left', bbox_to_anchor=(1, 0.5), title='Категорії')

plt.show()

In [ ]:
books_df = pd.read_csv('books_scraped.csv')

In [ ]:
# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client["books_data"]
collection = db["books"]

In [ ]:
print(books_df.dtypes)

In [ ]:
# Insert data into MongoDB
collection.insert_many(books_df.to_dict('records'))

In [2]:
from dagster import op
import psycopg2
import pandas as pd
 
@op
def load_into_postgres(context, data):
    host = "localhost"
    port = "5423"
    database_name = "Books_scrapped.csv"
    username = "postgres"
    password = "Varun@2001"
 
    # Connect to PostgreSQL
    conn = psycopg2.connect(dbname=postgres, user=postgres, password=Varun@2001, host=localhost)
    cur = conn.cursor()
 
    # Create the table
    cur.execute("""
    CREATE TABLE IF NOT EXISTS books (
        id SERIAL PRIMARY KEY,
        title VARCHAR(255),
        book_category VARCHAR(100),
        star_rating VARCHAR(10),
        price FLOAT,
        stock VARCHAR(20),
        quantity INT
    )
    """)
    conn.commit()
 
    # Insert data into the table
    insert_query = """
    INSERT INTO books (title, book_category, star_rating, price, stock, quantity) 
    VALUES (%s, %s, %s, %s, %s, %s)
    """
    for record in data:
        cur.execute(insert_query, (record['Title'], record['Book_category'], record['Star_rating'], 
                                   record['Price'], record['Stock'], record['Quantity']))
        #conn.commit()
 
    conn.commit()

In [3]:
# testing
# record['Title']
# (books_df.iloc[0])['Title']

In [4]:
host = "localhost"
port = "5423"
database_name = "Books_scrapped"
username = "postgres"
password = "Varun@2001"

conn = psycopg2.connect(
    host=host,
    database=database_name,
    user=username,
    password=password
)

conn.commit()

In [ ]:
cur = conn.cursor()
cur.execute("""
    CREATE TABLE IF NOT EXISTS books_2 (
        id SERIAL PRIMARY KEY,
        title VARCHAR(255),
        book_category VARCHAR(100),
        star_rating VARCHAR(10),
        price double precision,
        stock VARCHAR(20),
        quantity INT
    )
    """)
conn.commit()

In [ ]:
this_is_the_Query_we_want_to_execute = """
    INSERT INTO books (title, book_category, star_rating, price, stock, quantity) 
    VALUES (%s, %s, %s, %s, %s, %s)
    """

In [ ]:

cur.execute(
    this_is_the_Query_we_want_to_execute,
    (
        (books_df.iloc[0])['Title'], 
        (books_df.iloc[0])['Book_category'], 
        (books_df.iloc[0])['Star_rating'],
        (books_df.iloc[0])['Price'], 
        (books_df.iloc[0])['Stock'], 
        (books_df.iloc[0])['Quantity']
    )
)
conn.commit()

In [ ]:
cur.execute(
    this_is_the_Query_we_want_to_execute,
    (
        '(books_df.iloc[0])', 
        '(books_df.iloc[0])', 
        '(books_df.iloc[0])',
        123.12, 
        '(books_df.iloc[0])', 
        12
    )
)
conn.commit()

In [5]:
cur = conn.cursor()
cur.execute("""
    CREATE TABLE IF NOT EXISTS books_123 (
        id SERIAL PRIMARY KEY,
        title VARCHAR(255)
    )
    """)
conn.commit()

In [28]:
qUERY_2 = """
    INSERT INTO books (title, Book_category, Star_rating, Price,Stock,Quantity  ) 
    VALUES (%s,%s,%s,%s,%s,%s)
    """

In [29]:
cur.execute(
    qUERY_2,
    
        ("Hello","Hello","Hello",123.1,"Hello",123)
    
)
conn.commit()